@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/MullerLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MullerRegular.ttf) format('truetype');
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/MullerMedium.ttf) format('truetype');
}